.MyDayRouteTitle {
  font-size: 28px;
  color: #030303;
  font-weight: 600;
}

.MyDayRouteSubTitle {
  font-size: 28px;
  color: #d8d8d8;
  font-weight: 600;
}

.MyDayRouteCalendar p {
  padding: 0px;
  margin: 0px;
}

.MyDayRouteEvent {
  padding: 25px;
}

.MyDayRouteEvent p {
  font-weight: bold;
  color: #9b9b9b;
}

.MyDayEntries {
  margin-top: 20px;
  height: 400px;
  overflow: auto;
}

.AppHeader {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.AppSuggestionList {
  margin-top: 20px;
  height: 800px;
  overflow: auto;
}
