.NextSevenDay_Page_Block {
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.NextSevenDay_Header_Block {
    width: 100%;
    height: 50px;
}

.NextSevenDay_Content_Block {
    height: 600px;
    max-width: 100%;
    margin-top: 20px;
}
