.TitleInputBlock {
    width: 100%;
    height: 50px;
}

.TitleInputBlock input {
    width: 100%;
    height: 50px;
}

.InputPlace {
    border-radius: 8px;
    color: #030303;
    caret-color: #0083ff;
    font-size: 24px;
    font-weight: 600;
    outline: none;
    border: none;
}

.InputPlace:focus {
    border-color: #f6f6f6;
    background-color: #f6f6f6;
    color: #030303;
    caret-color: #0083ff;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.1;
    outline: none;
}

.MyDayTaskFunction {
    display: flex;
    justify-content: start;
}

MDT_TopButton:hover {
    
}

.MDT_TopButton {
    margin-right: 5px;
    min-width: 30px;
    max-width: 100px;
    max-height: 50px;
    border-radius: 50px;
}

.MDT_NoteTitle p, .MDT_InputAttachmentTitle{
    margin: 16px 0;
    padding-top: 16px;
    text-transform: uppercase;
    color: #030303;
    font-size:12px;
    font-weight: 500;
    letter-spacing: 1px;
}

.MDT_InputNoteTitle {
    border-radius: 8px;
    color: #030303;
    caret-color: #0083ff;
    font-size: 18px;
    font-weight: 600;
    outline: none;
    border: none;
}

.MDT_SubTask {
    margin: 16px 0;
    padding: 0px;
    padding-top: 16px;
    color: #030303;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.MDT_SubTaskItemBlock {
    overflow: scroll;
    max-height: 300px;
}

.MDT_SubTaskItem {
    max-width: auto;
    padding-left: 20px;
    min-height: 42px;   
    margin: 5px;
    overflow: scroll;
}

.MDT_SubTaskItem input {
    width: 100%;
    border: none;
    padding: 10px;
    caret-color: #0083ff;
}

.MDT_SubTaskItem input:focus {
    border-radius: 10px;
    border: none;
}