::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
    padding-right: 10px;
    background: none;
    box-shadow: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #bebebe;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #bebebe;
}